{% load static %}
<!-- footer -->
<div class="footer-area" style="padding: 50px">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <div class="footer-box about-widget">
          <h2
            class="widget-title"
            style="padding-bottom: 0px; padding: 0px; padding-left: 0px"
          >
            About us
          </h2>
          <p style="margin-top: 3rem; font-size: 14px">
            LOR Inventory isn’t endorsed by Riot Games and doesn’t reflect the
            views or opinions of Riot Games or anyone officially involved in
            producing or managing Legends of Runeterra. Legends of Runeterra™
            and Riot Games are trademarks or registered trademarks of Riot
            Games, Inc.
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-box pages">
          <h2
            class="widget-title"
            style="padding-bottom: 0px; padding: 0px; padding-left: 0px"
          >
            Pages
          </h2>
          <ul style="margin-top: 3rem">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'gallery' %}">Card Gallery</a></li>
            <li><a href="{% url 'collection' %}">Decks Collection</a></li>
          </ul>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6"
        style="padding-bottom: 0px; padding: 0px; padding-left: 0px"
      >
        <div class="footer-box subscribe">
          <h2
            class="widget-title"
            style="padding-bottom: 0px; padding: 0px; padding-left: 0px"
          >
            Subscribe
          </h2>
          <p style="margin-top: 3rem">
            Subscribe to our mailing list to get the latest updates.
          </p>
          <form action="index.html">
            <input type="email" placeholder="Email" />
            <button type="submit">
              <i class="fas fa-paper-plane"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
  <div class="container" style="margin-bottom: 0px">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <p>
          2022 -
          <a href="https://imransdesign.com/">João Breno</a>.
        </p>
      </div>
      <div class="col-lg-6 text-right col-md-12">
        <div class="social-icons">
          <ul>
            <!---------- 
               <li>
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>
              ----------->

            <li>
              <a href="https://twitter.com/joaobDEV" target="_blank"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://github.com/joaobreno" target="_blank"
                ><i class="fab fa-github"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/brenopamplona/"
                target="_blank"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
            <!---------- 
              <li>
              <a href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
            </li>
              ----------->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
