{% load static %}

<div class="top-header-area" id="sticker">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">
          <div class="site-logo">
            <a href="{% url 'index' %}">
              <img src="{% static 'img/LOR_logo_hor.png' %}" alt="" />
            </a>
          </div>

          <nav class="main-menu">
            <ul>
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'gallery' %}">Gallery</a></li>
              <li><a href="{% url 'collection' %}">Collection</a></li>
              <li>
                <div class="header-icons"></div>
              </li>
              <li>
                <div class="header-icons">
                  <a class="mobile-hide search-bar-icon" href="#"
                    ><i class="fas fa-search"></i
                  ></a>
                </div>
              </li>
            </ul>
          </nav>
          <a class="mobile-show search-bar-icon" href="#"
            ><i class="fas fa-search"></i
          ></a>
          <div class="mobile-menu"></div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="close-btn"><i class="fas fa-window-close"></i></span>
        <div class="search-bar">
          <div class="search-bar-tablecell">
            <form action="{% url 'search' %}">
              <h3>Search For:</h3>
              <input
                type="text"
                name="search"
                placeholder="What are you looking for..."
              />
              <button type="submit">
                Search <i class="fas fa-search"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end search arewa -->
